<div class="login-wrapper" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register as a Volunteer Caregiver</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="name" (change)="onNameChange()" placeholder="Name">
          <mat-error *ngIf="name.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="email" (change)="onEmailChange()" placeholder="Email">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="phone" (change)="onPhoneChange()" placeholder="Contact Number">
          <mat-error *ngIf="phone.hasError('required')">
            Phone Number is required
          </mat-error>
        </mat-form-field>

        <div>
          <p>When are you able to provide care?</p>
          <ng-multiselect-dropdown #reporteedropDown class="custom-font-size" name="availabilityWindow"
            [placeholder]="'Availability'" [data]="availabilityDropdownList" [(ngModel)]="selectedAvailaibility"
            [settings]="availabilitySettings" (onSelect)="onAvailabilityItemSelect($event)">
          </ng-multiselect-dropdown>
        </div>

        <!-- https://www.npmjs.com/package/@angular-material-extensions/google-maps-autocomplete -->
        <mat-google-maps-autocomplete type="address" (onAutocompleteSelected)="onAutocompleteSelected($event)"
          (onLocationSelected)="onLocationSelected($event)">
        </mat-google-maps-autocomplete>
      </mat-card-content>

      <div style="padding-bottom: 20px;">
        <p>What type of care would you like to provide?</p>
        <ng-multiselect-dropdown #reporteedropDown class="custom-font-size" name="careWindow"
          [placeholder]="'Types of Care'" [data]="careDropdownList" [(ngModel)]="selectedCare" [settings]="careSettings"
          (onSelect)="onCareItemSelect($event)">
        </ng-multiselect-dropdown>
      </div>

      <mat-form-field class="example-full-width">
        <input matInput type="password" [formControl]="password" (change)="onPasswordChange()" placeholder="Password">
        <mat-error *ngIf="password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button color="accent" class="btn-block" (click)="onRegisterClick()">Register</button>

    </form>
  </mat-card>
</div>