<div class="login-wrapper" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="name" (change)="onNameChange()" placeholder="Name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Availability (DATE PICKER)">
        </mat-form-field>

        <!-- https://www.npmjs.com/package/@angular-material-extensions/google-maps-autocomplete -->
        <mat-google-maps-autocomplete type="address" (onAutocompleteSelected)="onAutocompleteSelected($event)"
          (onLocationSelected)="onLocationSelected($event)">
        </mat-google-maps-autocomplete>
      </mat-card-content>

      <mat-form-field class="example-full-width">
        <mat-label>Types of Care?</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="Volunteer">Volunteer</mat-option>
          <mat-option value="Professional">Professional</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>