<div class="login-wrapper">
    
    <div style="height: 10%"></div>    

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>Hi Professional</h1>
        <h2>Enter the address of the Careseeker and find the closest 5 volunteers</h2>
    </div>

    <div style="height: 5%"></div>    

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-google-maps-autocomplete style="width: 500px;" type="address" (onAutocompleteSelected)="onAutocompleteSelected($event)"
            (onLocationSelected)="onLocationSelected($event)">
        </mat-google-maps-autocomplete>

        <div ng-app ng-controller="Ctrl">
            Todays Date: {{date | date:'EEE dd-MM-yyyy'}}
        </div>

        <p>Please find the list of Closest volunteers below</p>
        <table id="userstable">
            <tr>
                <th *ngFor = "let column of headers">
                    {{column}}
                </th>
            </tr>

            <tr *ngFor = "let row of rows">
                <td *ngFor = "let column of headers">
                    {{row[column]}}
                </td>
            </tr>
        </table>
    </div>
</div>