<div class="login-wrapper">
    
    <div style="height: 10%"></div>    

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>Hi (Logged in Volunteer)</h1>
        <h2>Browse all of your allocated training resources and when completed check them off to become eligible for recieving assignments! </h2>
    </div>

    <div style="height: 5%"></div>    

    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Addiction</mat-card-title>
                <mat-card-content>
                    <a href="training-resources-addiction"><p>Click here for resources around providing care for individuals recovering from addiction</p></a>
                    <mat-radio-group>
                        <mat-radio-button value="true">I have completed these training resources</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Disabilty</mat-card-title>
                <mat-card-content>
                    <a href="training-resources-disability"><p>Click here for resources around providing care for individuals with a disabilty</p></a>
                    <mat-radio-group>
                        <mat-radio-button value="true">I have completed these training resources</mat-radio-button>
                    </mat-radio-group>                
                </mat-card-content>
            </mat-card-header>
        </mat-card>

    </div>

    <div style="height: 5%"></div>    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Illness</mat-card-title>
                <mat-card-content>
                    <a href="training-resources-illness"><p>Click here for resources around providing care for those who have a limiting & serious illness</p></a>
                    <mat-radio-group>
                        <mat-radio-button value="true">I have completed these training resources</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For the Frail</mat-card-title>
                <mat-card-content>
                    <a href="training-resources-frailty"><p>Click here for resources around providing care for frail individuals who require special attention</p></a>
                    <mat-radio-group>
                        <mat-radio-button value="true">I have completed these training resources</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Mental Health</mat-card-title>
                <mat-card-content>
                    <a href="training-resources-mental-health"><p>Click here for resources around providing care for individuals who are struggling with mental health issues </p></a>
                    <mat-radio-group>
                        <mat-radio-button value="true">I have completed these training resources</mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

    </div>

    <div style="height: 5%"></div>    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <button mat-raised-button color="primary">Submit training progress!</button>
    </div>

</div>