<div class="login-wrapper">
    
    <div style="height: 10%"></div>    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>Hi (Logged in Volunteer)</h1>
    </div>

    <div style="height: 10%"></div>    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Elderly Care</mat-card-title>
                <mat-card-content>
                    <a href="blaa"><p>Click here for resources around providing care for the elderly</p></a>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Disabilty</mat-card-title>
                <mat-card-content>
                    <a href="blaa"><p>Click here for resources around providing care for individuals with a Disabilty</p></a>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Children</mat-card-title>
                <mat-card-content>
                    <a href="blaa"><p>Click here for training resources around Childcare</p></a>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>

    <div style="height: 10%"></div>    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Elderly Care</mat-card-title>
                <mat-card-content>
                    <a href="blaa"><p>Click here for resources around providing care for the elderly</p></a>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Disabilty</mat-card-title>
                <mat-card-content>
                    <a href="blaa"><p>Click here for resources around providing care for individuals with a Disabilty</p></a>
                </mat-card-content>
            </mat-card-header>
        </mat-card>

        <mat-card class="infobox">
            <mat-card-header>
                <mat-card-title>Resources For Children</mat-card-title>
                <mat-card-content>
                    <a href="blaa"><p>Click here for training resources around Childcare</p></a>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>

</div>