<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>Welcome to Help to Care!</h1>
    <h2>What best describes you?</h2>

    <a class="infobox" href="how-it-works-volunteer">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Individual Volunteer</mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a class="infobox" href="how-it-works-organisation">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Professional or Organisation</mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
</div>