<div class="login-wrapper">

    <div style="height: 10%"></div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>Welcome to Help to Health!</h1>
        <h2 style="width: 1000px;">HelpToHealth is an online platform for Care Organisations to rapidly connect and educate local volunteers to provide care in their community.</h2>
    </div>

    <div style="height: 10%;"></div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a class="infobox" style="height: 120px;" href="how-it-works-volunteer">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>I'd like to train as a Volunteer Caregiver</mat-card-title>
                    <mat-card-content>
                        <p>We'd love to hear from you! Click to find out how it works!</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>

        <a class="infobox" style="height: 120px;" href="how-it-works-organisation">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>We are a Care Organisation</mat-card-title>
                    <mat-card-content>
                        <p>Our community appreciates all the work you do. Click to expand your network of local
                            volunteers.</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>