<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>Welcome to Help to Health!</h1>
    <h2>HelpToHealth is an online platform for Care Organisations to rapidly connect and educate local volunteers to
        provide care in their community.</h2>

    <div class="homepage-features">
        <p>Features & Benefits:</p>
        <ul>
            <li>The community seeks care from local Care Organisations who they already know and trust</li>
            <li>Care Organisations can quickly build and train a network of local care volunteers that can be rapidly
                deployed to meet the care needs of the local community</li>
            <ul>
                <li>Care needs of the community can be quickly provided</li>
                <li>A network of local caregivers can be quickly established and trained to meet basic care needs in the
                    community</li>
                <li>While meeting immediate care needs, the volunteers can provide practical, medically-approved,
                    self-care
                    advice to the care-seeker</li>
            </ul>
            <li>Caregiving Volunteers can register their details, and sign up to receive online training for the care
                they
                want to provide to their local area, at the times they are available</li>
            <ul>
                <li>Volunteers can be trained to give the care they are capable and comfortable providing to their local
                    community</li>
                <li>Approved training resources are supplied online, including signposts to help link volunteers
                    together,
                    and with other local volunteer organisations</li>
                <li>Volunteers can help the community and retain the flexibility they need to fulfil personal
                    commitments
                    without affecting their own health and well-being</li>
                <li>Volunteers with existing care expertise can register to offer that care to others in their community
                </li>
            </ul>
        </ul>
    </div>

    <h2>What best describes you?</h2>

    <a class="infobox" href="how-it-works-volunteer">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Individual Volunteer</mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
    <a class="infobox" href="how-it-works-organisation">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Professional or Organisation</mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
</div>