<div class="login-wrapper">

    <div style="height: 10%"></div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>These are the resources for helping frail individuals</h1>
    </div>

    <div style="height: 10%;"></div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a class="infobox" style="height: 30%;" href="//www.ageuk.org.uk/our-impact/policy-research/frailty-in-older-people/understanding-frailty/">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Click here for information from Age Uk around understanding fraility</mat-card-title>
                    <mat-card-content>
                        <p>(stuff)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>

        <a class="infobox" style="height: 30%;" href="//www.england.nhs.uk/blog/frailty/">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Nhs Blog on helping frailty</mat-card-title>
                    <mat-card-content>
                        <p>(Note - Sometimes loneliness can be a huge a part of this, and just your time and visits could make a huge difference and be some of the only human contact a patient gets that week)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>
    </div>

    <div style="height: 10%"></div>    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">   
        <a href="logged-in-volunteer">    
            <button mat-raised-button color="primary">Return to Training Menu</button>
        </a>
    </div>
</div>