<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>How Help to Health works as an Organisation?</h1>

    <mat-card class="howitworksbox">
        <mat-card-header>
            <mat-card-title>Get in contact with our Team</mat-card-title>
            <mat-card-content>
                <p>Care Organisations can quickly build and train a network of local care volunteers that can be rapidly
                    deployed to meet the care needs of the local community. As an organisation wanting to make use of the Help to Health Service please contact us and we'll
                    provide accounts for the professional caregivers.</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="howitworksbox">
        <mat-card-header>
            <mat-card-title>Care needs of the community can be quickly provided</mat-card-title>
            <mat-card-content>
                <p>A network of local caregivers can be quickly established and trained to meet basic care needs in the
                    community. While meeting immediate care needs, the volunteers can provide practical, medically-approved,
                    self-care advice to the care-seeker.</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="howitworksbox">
        <mat-card-header>
            <mat-card-title>Make use of your account</mat-card-title>
            <mat-card-content>
                <p>Once an account is generated for caregivers it's possible to search by location to receive local help. A contact
                    email/phone number of the closest closest volunteer will be displayed.</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>