<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>How Help to Care works as an Organisation?</h1>

    <mat-card class="infobox">
        <mat-card-header>
            <mat-card-title>Get in contact with our Team</mat-card-title>
            <mat-card-content>
                <p>As an organisation wanting to make use of the Help to Care Service please contact us and we'll
                    require proof and generate accounts for the professional caregivers</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="infobox">
        <mat-card-header>
            <mat-card-title>Log in with your account</mat-card-title>
            <mat-card-content>
                <p>An account is generated for your staff. The staff can then search by location and a contact
                    email/phone number will be displayed for the closest volunteer.</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="infobox">
        <mat-card-header>
            <mat-card-title>The volunteer provides assistance</mat-card-title>
            <mat-card-content>
                <p>The Volunteer will then follow a set list of curated instructions based on the specific
                    assistance required</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>