<div class="login-wrapper">

    <div style="height: 10%"></div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>These are the resources for helping individuals who are struggling with their mental health</h1>
    </div>

    <div style="height: 10%;"></div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a class="infobox" style="height: 30%;" href="//https://www.mentalhealth.org.uk/your-mental-health/getting-help">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Click here for information from mentalhealth.org.uk to provide a patient with self help resources & advice</mat-card-title>
                    <mat-card-content>
                        <p>(stuff)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>

        <a class="infobox" style="height: 30%;" href="//www.nhs.uk/conditions/stress-anxiety-depression/">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Nhs tools to help an individual assess their feelings and some calming audio guides</mat-card-title>
                    <mat-card-content>
                        <p>(stuff)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>