<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <div class="flowchart-box">
        <h1>{{typeofcare}}</h1>

        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="typeofcare">
                <mat-option value="Illness">Illness</mat-option>
                <mat-option value="Frailty">Frailty</mat-option>
                <mat-option value="Disability">Disability</mat-option>
                <mat-option value="MentalHealth">Mental health</mat-option>
                <mat-option value="Addiction">Addiction</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-flow-chart-illness *ngIf="typeofcare == 'Illness'"></app-flow-chart-illness>
    <app-flow-chart-frailty *ngIf="typeofcare == 'Frailty'"></app-flow-chart-frailty>
    <app-flow-chart-disability *ngIf="typeofcare == 'Disability'"></app-flow-chart-disability>
    <app-flow-chart-mental-health *ngIf="typeofcare == 'MentalHealth'"></app-flow-chart-mental-health>
    <app-flow-chart-addiction *ngIf="typeofcare == 'Addiction'"></app-flow-chart-addiction>

</div>