<div class="login-wrapper">

    <div style="height: 10%"></div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>These are the resources for helping individuals struggling with a disability</h1>
    </div>

    <div style="height: 10%;"></div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a class="infobox" style="height: 30%;" href="//www.disabilityawareness4you.wordpress.com/how-you-can-help/">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Click here for advice from disabilityawareness4you, a useful website</mat-card-title>
                    <mat-card-content>
                        <p>(stuff)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>

        <a class="infobox" style="height: 30%;" href="//www.informationnow.org.uk/article/self-care-disability/">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Click here for some self care techniques which you can assist patients in starting</mat-card-title>
                    <mat-card-content>
                        <p>(stuff)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>