<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>How Help to Health works as a Volunteer?</h1>
    <mat-card class="howitworksbox">
        <mat-card-header>
            <mat-card-title>Register as a Volunteer</mat-card-title>
            <mat-card-content>
                <p>As an untrained volunteer you register on the website and provide your Name, Email, Phone and Location. You can do that <a href="register">here!</a></p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="howitworksbox">
        <mat-card-header>
            <mat-card-title>Training</mat-card-title>
            <mat-card-content>
                <p>Volunteers can be trained to give the care they are capable and comfortable providing to their local
                    community. Approved training resources are supplied online, including signposts to help link volunteers
                    together, and with other local volunteer organisations. Volunteers can help the community and retain the flexibility they need to fulfil personal
                    commitments without affecting their own health and well-being</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="howitworksbox">
        <mat-card-header>
            <mat-card-title>You're contacted to take action</mat-card-title>
            <mat-card-content>
                <p>You will be contacted VIA email/phone based on your proximity and availabiliy to the person who requires help. You will be 
                    guided though the caregiving process with assistance available should you require it.
                </p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>