<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <h1>How Help to Care works as a Volunteer?</h1>
    <mat-card class="infobox">
        <mat-card-header>
            <mat-card-title>Register as a Volunteer</mat-card-title>
            <mat-card-content>
                <p>As an untrained volunteer you register on the website and provide your Name, Email, Phone and Location. You can do that <a href="register">here!</a></p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="infobox">
        <mat-card-header>
            <mat-card-title>Training</mat-card-title>
            <mat-card-content>
                <p>Training materials are provided and information, links, articles are available</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="infobox">
        <mat-card-header>
            <mat-card-title>You're contacted to take action</mat-card-title>
            <mat-card-content>
                <p>You will be contacted VIA email/phone based on your proximity to the person who requires help.</p>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>