<div class="login-wrapper">

    <div style="height: 10%"></div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <h1>These are the resources for helping individuals recovering from addiction</h1>
    </div>

    <div style="height: 10%;"></div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a class="infobox" style="height: 30%;" href="//www.nhs.uk/live-well/healthy-body/drug-addiction-getting-help/">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Click here to access NHS resources around addiction</mat-card-title>
                    <mat-card-content>
                        <p>It's important to make individuals aware of the professional services which are available to them when struggling with addiction</p>
                        <p>It may be useful to discuss options such as going to Narcotics or Alcholics Anonymous with the addicted individual and the therapy treatments which are available</p>
                        <p>It's critical be supportive and sensitive with the individual in question and ensure they are ready to seek professional help</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>

        <a class="infobox" style="height: 30%;" href="//www.castlecraig.co.uk/help-advice/understanding-addiction/coping-with-addiction-for-family-friends/how-to-help-someone">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Click here to access Hospital Advice to help with addiction</mat-card-title>
                    <mat-card-content>
                        <p>(Insert some stuff in here i guess)</p>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>